.DS_Store

backend/log/**/*
backend/tmp/**/*
backend/vendor/gems/*
backend/!vendor/gems/cache/
backend/db/*.db
backend/.*.sw*
backend/public/system
backend/public/uploads

frontend/dist
frontend/tmp
frontend/node_modules
frontend/bower_components
frontend/.sass-cache
frontend/connect.lock
frontend/coverage/*
frontend/libpeerconnection.log
frontend/npm-debug.log
frontend/testem.log
