
.DS_Store

frontend/dist
frontend/tmp
frontend/node_modules
frontend/bower_components
frontend/.sass-cache
frontend/connect.lock
frontend/coverage/*
frontend/libpeerconnection.log
frontend/npm-debug.log
frontend/testem.log
frontend/.DS_Store

backend/.bundle
backend/db/.*sqlite3
backend/log/*.log
backend/tmp
backend/tags
backend/public/uploads/tmp
backend/doc/
backend/*.swp
backend/*~
backend/.DS_Store
backend/.project
backend/.idea
backend/*.db
backend/.ruby-version
