<% if flash[:error] %>
  <div class="flash flash_error">
    <%= flash[:error]%>
  </div>
<% end %>
<div class="sign_up">
  <h1>欢迎注册成为CnNirvana的会员</h1>
  <form class="signup_form submit_form" action="/signup" method="post">
    <div>
      <label for="user_name">ID:</label> 
      <input id="user_name" name="user[name]" type="text" placeholder="只能为数字和字母的组合"/>
    </div>

    <div>
      <label for="user_email">Email:</label>
      <input id="user_email" name="user[email]" type="text" placeholder="注册后不能更改"/>
    </div>

    <div>
      <label for="user_password">密码:</label>
      <input id="user_password" name="user[password]" type="password" />
    </div>

    <div>
      <label for="user_password_confirmation">确认密码:</label>
      <input id="user_password_confirmation" name="user[password_confirmation]" type="password" />
    </div>

    <input class="submit_form" type="submit" value="提交注册" />
  </form>
</div>
