$default-font-size: 18px;

$default-font-family: "Gill Sans", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB","Hiragino Sans GB W3", "Microsoft YaHei", "Wenquanyi Micro Hei", sans-serif !default;

$main-color: rgb(245, 150, 170);
