/* layout style */
nav.global_nav {
  background: #fff;
  opacity: 0.99;
}

nav.global_nav > div {
  padding-left: 25px;
  padding-right: 25px;
}
nav.global_nav a {
  color: rgb(66,156,214);
  outline: none;
}

nav.global_nav a:focus {
  background: none;
}

nav.global_nav a:hover {
  background: none;
}

nav.global_nav ul.menu-nav a {
  color: #555;
}

nav.global_nav li.notification a span {
  vertical-align: middle;
}

.hasNotification {
  color: #f20;
}

section.index {
  min-height: 1000px;
  background: #eceef1;
  padding-top: 100px;
  padding-bottom: 35px;
}

footer.index {
  text-align: center;
  padding: 10px;
}

footer.index p {
  margin: 0;
  color: #aaa;
  font-size: 0.9em;
  font-style: italic;
  letter-spacing: 1px;
}

footer.index a {
  color: rgb(66,156,214);
}

/* index page style */
div.all-contents {
  max-width: 750px;
  background: #fff;
  padding: 20px;
  border-radius: 6px;
}

div.all-contents hr {
  margin-right: 70px;
  margin-left: 70px;
  border-style: dashed;
}
div.all-contents div.avatar {
  margin-left: 10px;
  margin-right: 15px;
}

div.all-contents div.avatar img {
  width: 60px;
  height: 60px;
}

div.all-contents ul.content-list li {
  padding: 0;
  border: none;
  border-left-style: solid;
  border-left-color: rgb(66, 156, 214);
  border-left-width: 5px;
  margin-bottom: 25px;
}

div.all-contents ul.content-list li.essence-post {
  border-color: rgb(255, 193, 0);
}

div.all-contents ul.content-list li.top-post {
  border-color: rgb(0, 218, 67);
}

div.all-contents ul.content-list li:first-child {
  border-radius: 0;
}

div.all-contents ul.content-list li:last-child {
  border-radius: 0;
}


div.reply a {
  margin: 15px 25px;
  display: inline-block;
  font-size: 1.5em;
  color: rgb(66, 156, 214);
}

div.all-contents div.title {
  font-size: 1.4em;
}

div.all-contents div.title a {
  color: #066;
  font-weight: 300;
}

div.all-contents div.info {
  color: #aaa;
  font-size: 1.1em;
  margin-top: 6px;
}

div.all-contents div.info a {
  color: #555;
  letter-spacing: 1.5px;
  font-weight: 600;
}

div.all-contents div.pagination-centered {
  text-align: center;
}

div.all-contents ul.pagination li a{
  border: none;
  color: rgb(66, 156, 214);
  font-size: 1.2em;
}

div.all-contents ul.pagination li.disabled a {
  color: #555;
}

div.all-contents ul.pagination li.active a {
  font-weight: 600;
  color: #555;
  background-color: #fff;
}


/* post page style*/

div.post-title {
  border-left: 5px solid rgb(66, 156, 214);
}

div.essence-post {
  border-color: rgb(255, 193, 0);
}

div.top-post {
  border-color: rgb(0, 218, 67);
}


div.post-title h1 {
  margin: 0;
  font-size: 1.5em;
  color: #066;
  word-wrap: break-word;
  padding-top: 3px;
  margin-left: 10px;
  margin-right: 90px;
  font-weight: 300;
}

div.post-title hr {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

div.post-title div.post-info {
  margin-right: 90px;
  margin-left: 15px;
  color: #aaa;
  font-size: 0.9em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.post-title div.post-info a {
  color: #555;
  letter-spacing: 1.5px;
  font-weight: 600;
}

div.post-body {
  margin-bottom: 50px;
  margin-top: 30px;
}

div.comments-number {
  color: #444;
  font-size: 1.1em;
  margin-bottom: 30px;
  margin-top: 50px;
}


ul.comments li.comment {
  border: none;
  margin-bottom: 30px;
}

li.comment div.reply a {
  display: inline-block;
  color: #aaa;
  font-size: 1em;
}

li.comment div.reply a:focus {
  outline: none;
}

li.comment div.comment-info {
  color: #aaa;
  font-size: 0.9em;
  padding-top: 5px;
}

li.comment div.comment-info a {
  color: #555;
  font-weight: 600;
}

.normal-button {
  border-color: rgb(66, 156, 214);
  border-radius: 6px;
  color: rgb(66, 156, 214);
  border-width: 2px;
}

.normal-button:hover {
  color: #fff;
  background-color: rgb(66, 156, 214);
  border-color: rgb(66, 156, 214);
}

.normal-button:focus {
  outline: none;
  background-color: rgb(66, 156, 214);
  color: #fff;
  border-color: rgb(66, 156, 214);
}

.static-alert {
  background-color: #ffc;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px 60px;
  opacity: 0.85;
}

.static-alert a {
  color: #f60;
}

/* user page style*/

div.user-header {
  padding: 6px; 
  background-color: rgb(66, 156, 214);
  border-radius: 6px;
  color: #fff;
}

div.user-header div.user-name {
  font-size: 1.3em;
  margin-left: 5px;
}

div.user-header div.user-info {
  margin-right: 5px;
  margin-top: 5px;
}

div.user-header div.since-date {
  margin-top: 5px;
}

ul.user-detail li {
  border: none;
}

ul.user-detail li span {
  font-weight: 600;
  margin-right: 5px;
}

ul.user-detail hr {
  margin: 5px 10px;
}

div.user-notifications {
  padding-top: 20px;
}

div.user-notifications ul li {
  border: none;
  background-color: rgba(66, 156, 214, 0.65);
  color: #fff;
  margin-bottom: 15px;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

div.user-notifications li span {
  cursor: pointer;
  color: #555;
  font-weight: 600;
  text-decoration: underline;
}

div.user-notifications span.remove {
  text-decoration: none;
  color: #fff;
}

div.user-content {
  padding-top: 20px;
}

div.user-content ul {
  background-color: #eee;
  border: 1px solid #eee;
  border-radius: 6px;
}

div.user-content ul li {
  border: none;
  background-color: transparent;
  color: #066;
}

div.user-content ul li span {
  font-weight: 600;
  color: #555;
}


div.user-content div.list-group-item-heading {
  color: #066;
  font-weight: 600;
}

div.user-content hr {
  border-color: #fff;
  margin: 15px 50px;
  
}

div.user-tab {
  margin-top: 20px;
}

div.user-tab > ul {
  border-bottom: 1px dashed #eee;
}

div.user-tab > ul li a {
  color: rgb(66, 156, 214);
  font-size: 1.1em;
  font-weight: 600;
}

div.user-tab > ul li a.active {
  background-color: #eee;
}

/* modal login page style*/
.signup-login-form form input {
  border-radius: 10px;
  box-shadow: none;
  background-color: rgb(251, 251, 251);
  border-color: #eee;
}

.signup-login-form form input:focus {
  background-color: #eee;
  border-color: #eee;
  box-shadow: none;
}

.signup-login-form form button {
  margin-top: 35px; 
  border-radius: 10px;
  background-color: rgb(66 , 156, 214);
  color: #fff;
}

.signup-login-form form button:focus {
  /* change the default bootstrap style*/
  outline: none;
}

.signup-login-form form button:hover {
  /* change the default bootstrap style*/
  color: #fff;
  opacity: 0.85;
}

/* error message style */
.error-message {
  text-align: center;
  color: #f03;
  font-weight: 600;
}

.modal-header {
  border-bottom-style: dashed;
}

.modal-footer {
  border-top-style: dashed;
}

/* post new page style*/

div.post-new-page {
  border: none;
}

div.post-new-page div.panel-heading {
  background-color: rgb(66, 156, 214);
  color: #fff;
  margin-bottom: 20px;
  border-radius: 6px;
}

div.post-new-page input.post-title {
  border: none;
  box-shadow: none;
  border-radius: 0;
}

div.post-new-page input.post-title:focus {
  background-color: #eee;
}

div.post-new-page select {
  border: none;
  box-shadow: none;
}

div.post-new-page select:focus{
  outline: none;
  box-shadow: none;
  background-color: #eee;
}

div.post-new-page button[type="submit"] {
  margin-top: 35px;
  background-color: rgb(66, 156, 214);
  border-radius: 6px;
  color: #fff;
  border: none;
  padding: 8px 40px;
}

div.post-new-page button[type="submit"]:focus {
  outline: none;
}

div.post-new-page button[type="submit"]:hover {
  color: #fff;
  opacity: 0.85;
}

div.post-new-page textarea.editor {
  box-shadow: none;
  resize: none;
}

div.post-new-page textarea.editor:focus {
  border-color: rgb(66, 156, 214);
}

div.post-new-page #preview {
  height: 350px;
  overflow: scroll;
  border: 1px solid #eee;
}

div.post-new-page div.editor-preview {
}

/* loading page style */
.loading-wrapper {
  position: fixed;
  background-color: #fff;
  opacity: 0.55;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  z-index: 2000;
}
.spinner {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #333;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  border-radius: 100%;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0)}
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}
