{{#if model.length}}
<div class="container-fluid user-content ">
  <ul class="list-group">
    {{#each post in model}}
      <li class="list-group-item">{{post.title}}<span>.{{post.commentsCount}}comments</span></li>
      <hr />
    {{/each}}
  </ul>
</div>

  {{#if isEnd}}
  <button class="center-block btn btn-default normal-button" disabled="disabled">No more</button>
  {{else}}
  <button class="center-block btn btn-default normal-button load-next-button" {{action "loadMore"}} data-loading-text="Loading..." autocomplete="off" >Load More</button>
  {{/if}}
{{/if}}
