<div class="all_content">
  <div class="result">
    <h1>关于"<%= @posts.first.tag %>"的帖子</h1>
  </div>
  <ul class="all_topics">
    <% @posts.each do |post| %>
      <% if post.essence %>
        <% liclass = "essence_topic"%>
      <% else %>
        <% liclass = "topic "%>
      <% end %>
      <li class="<%= liclass %>">
        <%= post_list(post) %>
      </li>
    <% end %>
    
  </ul>
</div>
