/* basic style */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: none;
  display: block;
}

body {
  position: relative;
  font-size: 16px;
  line-height: 30px;
  font-family: "Lucida Grande", Consolas, monaco,"Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei","微软雅黑", STHeiti, "WenQuanYi Micro Hei", sans-serif;
  margin: 0;
  background: #eceef1;
}

details, summary, main{
  display: block;
}

audio,canvas,progress,video {
  vertical-align: baseline;
}


a:active,a:hover {
  outline: 0;
}

b,strong {
  font-weight: bold;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

small {
  font-size: 80%;
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;  
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,kbd,pre,samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,input,optgroup,select,textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,select {
  text-transform: none;
}

button, html input[type="button"],input[type="reset"],input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,th {
  padding: 0;
}

/******************************/



/*  index page style */

header.index {
  position: fixed;
  z-index: 30;
  top: 0;
  width: 100%;
  background-color: #fff;
  opacity: 0.99;
} 
nav.global_nav {
  margin: 7px 70px;
}

nav.global_nav div.site_title {
  float: left;
}

nav.global_nav h1 {
  margin: 0;
  font-size: 1.7em;
  font-weight: 500;
  color: #555;
}

nav.global_nav ul {
  list-style: none;
  float: left;
  margin: 0 30px;
  padding: 0;
 
}

nav.global_nav ul li {
  display: inline-block;
  margin-left: 20px;
}

nav.global_nav ul li:first-child {
  margin-left: 0px;
}

nav.global_nav ul a {
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 1px;
  vertical-align: middle;
  color: #555;
}

nav.global_nav div a {
  text-decoration: none;
  vertical-align: baseline;
  color: #555;
}

div.global_nav div a.drop_down {
  display: inline-block;
  height: 20px;
  width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 2px;
}

nav.global_nav div.signup { 
  float: right;
}

nav.global_nav div.signup a {
  vertical-align: middle;
  font-weight: 400;
}


nav.global_nav div.login {
  float: right;
  margin-right: 30px;
  border-right: 1px solid #eee;
  padding-right: 30px;
}

nav.global_nav div.login a {
 vertical-align: middle;
}

nav.global_nav div.new_post {
  float: right;
  padding: 0 10px;
  border-left: 1px solid #eee;
}

nav.global_nav div.notification {
  float: right;
  margin-right: 10px;
}

nav.global_nav div.notification a {
  display: block;
  background-color: #f20;
  color: white;
  border-radius: 15px;
  letter-spacing: normal;
  font-size: 0.9em;
}
#one_number {
  padding: 0px 10px;
}

#double_number {
  padding: 0px 5px;
}


nav.global_nav div.notification a:hover {
  opacity: 0.7;
}

nav.global_nav div.account {
  margin-right: 10px;
  float: right;
  position: relative;
}

nav.global_nav div.account:before {
  content: "";
  position: absolute;
  border-color: #555 transparent;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  left: -20px;
  margin-top: 13px;
  
}

nav.global_nav div.account ul {
  position: absolute;
  background: #fff;
  width: 120px;
  border-radius: 4px;
  top: 170%;
  margin: 0;
  left: -32px;
  box-shadow: 0 0 6px #999;
  animation: fadeOut 0.15s;
  visibility: hidden;
}

nav.global_nav div.account ul:before {
  content: "";
  position: absolute;
  bottom: 100%;
  border-width: 0 9px 9px 9px;
  border-style: solid;
  border-color: #ccc transparent;
  left: 8px;
}

nav.global_nav div.account ul:after{
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  left: 10px;
  border-width: 0 7px 7px 7px;
  border-color: #fff transparent;
  border-style: solid;
}

nav.global_nav div.account ul li {
  margin-left: 10px;

}

nav.global_nav div.account ul li a:hover {
  text-decoration: underline;
}

nav.global_nav div.account ul.drop_active {
  visibility: visible;
  animation: fadeOut 0.15s;
  -webkit-animation: fadeIn 0.15s;
  -moz-animation: fadeIn 0.15s;
  -o-animation: fadeIn 0.15s;
}

nav.global_nav div.logout {
  float: right;
  padding-left: 10px ;
  border-left: 1px solid #eee;
}

div.empty {
  clear: both;
}

section.index {
  min-height: 700px;
  margin-top: 100px;
}

footer.index {
  text-align: center;
  background: #fff;
  margin-top: 25px;
}

footer.index p {
  margin: 0;
  padding: 2px 0;
  color: #aaa;
  font-size: 0.9em;
  font-style: italic;
  letter-spacing: 1px;
}

footer.index a {
  color: #555;
  text-decoration: underline;

}


/*************************************/

/* topcis page style */

div.all_content {
  max-width: 700px;
  margin: auto;
  background: #fff;
  border-radius: 6px;
  padding: 20px;
}

div.all_content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
div.all_content div.result {
  text-align: center;
  margin: 40px 140px;
  background-color: #f60;
  padding: 1px;

}

div.all_content div.result h1 {
  font-weight: 400;
  line-height: 5px;
  font-size: 1.3em;
  letter-spacing: 4px;
}
div.all_content ul a {
 text-decoration: none;
}

ul.all_topics li {
  display: block;
  margin-bottom: 25px;
  border-left-width: 5px;
  border-left-style: solid;
}

ul.all_topics li.topic {
  border-left-color: rgb(0,218,67);
}

ul.all_topics li.top_topic {
  border-left-color: rgb(255,63,74);
}

ul.all_topics li.essence_topic {
  border-left-color: rgb(255,193,0);
}

ul.all_topics div.avatar {
  float: left;
  margin-left: 10px;
  margin-right: 15px;
}

ul.all_topics div.avatar img {
  width: 60px;
  height: 60px;
  display: block;

}
ul.all_topics div.reply {
  float: right;
}

ul.all_topics div.reply a {
  display: inline-block;
  margin: 15px 20px;
  background-color: #f20;
  border-radius: 15px;
  color: white;
}



ul.all_topics div.content {
  margin-right: 70px;
}

ul.all_topics div.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.all_topics div.title a {
  color: #066;
  font-size: 1.1em;
  letter-spacing: 2px;
}

ul.all_topics div.title a:hover {
  text-decoration: underline;
}

ul.all_topics div.info {
  color: #aaa;
  font-size: 0.9em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.all_topics div.info a {
  color: #555;
  letter-spacing: 1.5px;
  font-weight: 600;
}

div.pagination {
  text-align: center;
  margin-top: 40px;
  font-weight: 600;
  color: #555;
}

.previous_page {
  margin-right: 25px; 
}
.next_page {
  margin-left: 25px;
}

div.pagination a {
  text-decoration: none;
  color: #0c6;
}

div.pagination a:hover {
  text-decoration: underline;
}

/* topics show page style */
div.topic_title {
  border-left: 5px solid rgb(0,218,67)
}

div.top {
  border-color: rgb(255,63,74)
}

div.essence {
  border-color: rgb(255,193,0)
}
div.topic_title div.avatar {
  float: right;
}

div.topic_title div.avatar img {
  width: 60px;
  height: 60px;
  display: block;
}

div.topic_title h1 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 500;
  padding-bottom: 5px;
  margin-right: 90px;
  color: #066;
  word-wrap: break-word;
  margin-left: 10px;
}

div.topic_title div.topic_info {
  border-top: 1px solid #eee;
  margin-right: 90px;
  margin-left: 15px;
  color: #aaa;
  font-size: 0.9em;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

div.topic_title div.topic_info a {
  text-decoration: none;
  color: #555;
  letter-spacing: 1.5px;
  font-weight: 600;
  
}


div.topic_body {
  margin-top: 30px;
  margin-bottom: 30px;
}

div.topic_option input {
  float: right;
  margin-right: 30px;
  background: none;
  border: none;
  color: #f20;
  outline: none;
  text-decoration: underline;
  padding-top: 3px;
}

div.topic_option a {
  float: right;
  color: #0c6;
  margin-right: 30px;
}

div.comment_total {
  color: #444;
  margin-top: 35px;
}

div.comment_total p {
  margin: 0;
}

li.comment {
  display: block;
  margin-bottom: 25px;
}

li.comment:first-child {
  margin-top: 30px;
}

li.comment div.avatar {
  float: left;
  margin-right: 15px;
}

li.comment div.avatar img {
  width: 60px;
  height: 60px;
  display: block;
}
li.comment div.comment_info {
  color: #aaa;
  font-size: 0.9em;
}

li.comment div.comment_info a {
  color: #555;
  font-weight: 600;
}

li.comment div.comment_info a.reply {
  float: right;
  color: #0c6;
}

li.comment div.comment_content div {
  max-width: 550px;
}

li.comment div.comment_content div.entry p:first-child  b:first-child  {
  color: red;
}

li.comment div.comment_content form {
  float: right;
}

li.comment div.comment_content input {
  background: none;
  border: none;
  color: #f20;
  font-size: 0.9em;
  font-weight: 600;
  padding: 0;
}

div.all_content form.comment {
  margin-top: 60px;
}

div.all_content form.comment label {
  display: block;
}

div.all_content form.comment div.submit {
  text-align: center;
  margin-bottom: 20px;
}

div.all_content form.comment div.submit input {
  background-color: #0c6;
  border: none;
  margin-top: 20px;
  padding: 7px;
  outline: none;
  color: white;
  width: 100px;
  border-radius: 3px;
}

div.all_content form.comment div.submit input:hover {
  opacity: 0.7;
}

div.all_content form.comment div.submit input.disable {
  background-color: #ddd;
  cursor: not-allowed;
}

div.login_alert {
  text-align: center;
  margin-top: 65px;
  margin-bottom: 50px;
  background-color: #ffc;
  padding: 6px 0;
  color: #666;
}
div.login_alert p {
  margin: 0;
}

div.login_alert p a {
  color: #f60;
  text-decoration: none;
}

/* user page style */


div.user_info {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}

div.user_header {
  background-color: #0c6;
  padding: 6px 6px;
  color: white;
}

div.user_header div.avatar {
  float: left;
}

div.user_header div.avatar img {
  display: block;
  width: 60px;
  height: 60px;
}

div.user_header div.username {
  float: left;
  font-size: 1.2em;
  margin-left: 10px;

}

div.user_header div.usernumber {
  float: right;
  font-size: 0.8em;
  color: #eee;
  margin-right: 6px;
}

div.user_info div.detail ul li {
  color: #555;

}

div.user_info div.detail form input{
  float: right;
  border: none;
  background: none;
  color: #f20;
  padding: 3px 9px;
  font-size: 0.9em;
  text-decoration: underline;
  outline: none;
}

div.user_info div.detail a {
  float: right;
  color: #0c6;
  font-size: 0.9em;
  margin-right: 10px;
}

div.user_notification {
  margin-top: 55px;
}

div.user_notification > p {
  color: #f20;
  font-size: 1.1em;
  font-weight: 700;
}

div.user_notification ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

div.user_notification ul li {
  margin-bottom: 15px;
  padding: 5px 8px;
  background-color: #ffc;
  color: #666;
}

div.user_notification ul li a{
  text-decoration: none;
  color: #f60;
}

div.user_notification ul li p {
  margin: 0;
  word-break: break-word;
}

div.user_notification ul li p.read {
  text-decoration: line-through;
}

div.user_notification  form {
  float: right;
}

div.user_notification form input {
  border: 0;
  background-color: #f60;
  color: white;
  border-radius: 5px;
}

div.user_theme  {
  margin: 50px 0;
  list-style: none;
}

div.user_theme > p {
  font-size: 1.1em;
  color: #f20;
  font-weight: 700;
}

div.user_theme li {
  margin-bottom: 15px;
  padding: 5px 8px;
  background-color: #eee;
  word-break: break-word;
}

div.user_theme li a {
  text-decoration: none;
  color: #066;
}

div.user_theme li a:hover {
  text-decoration: underline;
}

div.user_theme li span {
  font-weight: 600;
  color: #555;
  font-size: 0.9em;
}

/* user edit page style */

div.user_edit {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}

div.user_edit > div {
  margin-bottom: 65px;
}

div.user_edit > p {
  color: #f20;
  font-size: 1.1em;
  font-weight: 700;
}

div.user_info_edit {
  color: #666;
}

div.user_info_edit label {
  text-align: right;
  float: left;
  width: 100px;
  letter-spacing: 1px;
}

div.user_info_edit input {
  margin-left: 20px;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 0.9em;
  width: 372px;
  outline: none;
}

div.user_info_edit input[type="submit"] {
  background-color: #0c6;
  color: white;
  padding: 7px;
  width: 100px;
  margin-left: 120px;
  outline: none;
  border: none;
}


div.user_info_edit input[type="submit"].disable {
  background-color: #ddd;
  cursor: not-allowed;
}

div.user_info_edit input[type="submit"]:hover {
  opacity: 0.7;
}


div.user_info_edit input[disabled="disabled"] {
  background-color: #eee;
  cursor: not-allowed;
}


div.user_info_edit textarea {
  margin-left: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 0.9em;
  outline: none;
}

div.user_info_edit div {
  margin-bottom: 16px;
}

div.user_info_edit input:focus {
  border-color: #09c;
}

div.user_info_edit textarea:focus {
  border-color: #09c;
}

/*********************************/

/* signup page style */

div.sign_up {
  max-width: 700px;
  margin: auto;
  padding-top: 20px;
  text-align: center;
}

div.sign_up h1 {
  color: #444;
  letter-spacing: 1.5px;
}

div.sign_up form {
  max-width: 350px;
  margin: auto;
  margin-top: 50px;
  padding: 30px 0;
  border-radius: 10px;
  color: #666;
  background: #fff;
}

div.sign_up form.disable {
  cursor: not-allowed;
}

div.sign_up div {
  margin-bottom: 20px;
  font-size: 0.9em;
}


div.sign_up label {
  float: left;
  text-align: right;
  width: 100px;
  letter-spacing: 1px;
}

div.sign_up input {
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 4px;
  outline: none;
  width: 180px;
}

div.sign_up input.error {
  border-color: #f40;
}

div.sign_up input[type="submit"] {
  background-color: #0c6;
  color: white;
  padding: 7px;
  width: 100px;
  outline: none;
  border: none;
}

div.sign_up input[type="submit"].disable {
  background: #ddd;
  cursor: not-allowed;
}

div.sign_up input[type="submit"]:hover {
  opacity: 0.7;
}

div.sign_up input:focus {
  border-color: #09c;
}


/***************************************/

/* new edit topic page style */

div.new_edit_post {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}

div.new_edit_post h1 {
  text-align: center;
  color: #444;
  letter-spacing: 1.5px
}

div.new_edit_post select {
  width: 200px;
  margin-right: 35px;
}

div.new_edit_post div.header {
  margin: 30px 0;
}

div.new_edit_post input {
  font-size: 0.9em;
  width: 200px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  outline: none;
}

div.new_edit_post input:focus {
  border-color: #09c;
}

div.new_edit_post div.submit {
  text-align: center;
}

div.new_edit_post input[type="submit"] {
  background-color: #0c6;
  color: white;
  padding: 7px;
  width: 100px;
  outline: none;
  border: none;
  margin-top: 20px;
}

div.new_edit_post input[type="submit"]:hover {
  opacity: 0.7;
}

div.new_edit_post input[type="submit"].disable {
  background-color: #ddd;
  cursor: not-allowed;
}


/************************************/
/* about page style */

div.about_page {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  color: #444;
}

div.about_page h1 {
  text-align: center;
}

/* 404 page style */
body.page404 {
  background-image: url(/picture/background.png)
}

div.page404 {
  position: relative;
  min-height: 600px;
  width: auto;
}

div.page404 h1 {
  margin-top: 320px;
  text-align: center;
  font-size: 6em;
  letter-spacing: 7px;
  margin-bottom: 0;
}
div.page404 div.button {
  text-align: center;
  margin-top: 65px;
}

div.page404 a {
  text-decoration: none;
  padding: 7px;
  width: 100px;
  border-radius: 3px;
  background-color: #0c6;
  color: white;
  outline: none;
  border: none;
  margin-top: 20px;
}

div.page404 a:hover {
  opacity: 0.7;
}
/****************************/

/* flash style */

div.flash {
  text-align: center;
  width: 300px;
  margin: auto;
  color: white;
  letter-spacing: 3px;
  font-size: 0.9em;
  word-wrap: break-word;
  padding: 0px 5px;
  margin-bottom: 25px;
}

div.flash_error {
  background-color: #f40;
}

div.flash_success {
  background-color: #0c6; 
}

div.flash_notice  {
  background-color: #f60;
}

@media screen and (max-width: 980px) {
  nav.global_nav {
    margin: 6px 50px;
  }

  nav.global_nav ul {
    margin: 0 20px;
  }

  nav.global_nav ul li {
    margin-left: 20px;
  }

  nav.global_nav div.login {
    margin-right: 20px;
    padding-right: 20px;
  }

}

@media screen and (max-width: 650px) {
  nav.global_nav {
    margin: 5px 40px;
  }

  nav.global_nav h1 {
    font-size: 1.5em;
  }

  nav.global_nav ul {
    margin: 0px 15px;
  }

  nav.global_nav ul li {
    margin-left: 15px;
  }

  nav.global_nav ul a {
    font-size: 0.9em;
  }

  nav.global_nav div.login {
    margin-right: 15px;
    padding-right: 15px;
  }

  nav.global_nav div a {
    font-size: 0.9em;
  }

  ul.all_topics li {
    margin-left: 5px;
    border-left-width: 4px;
  }

  ul.all_topics div.avatar {
    margin: 0 5px;
  }

  ul.all_topics div.title a {
    font-size: 1em;
    letter-spacing: 1px;
  }

  ul.all_topics div.info a {
    letter-spacing: normal;
    font-weight: 400;
  }

  div.all_content {
    padding: 20px 5px 20px 5px;
  }

}

@media screen and (max-width: 480px) {
  nav.global_nav {
    margin: 4px 35px;
  }

  nav.global_nav h1 {
    font-size: 1.5em;
  }

  nav.global_nav ul {
    margin: 0px 10px;
  }

  nav.global_nav li {
    margin-left: 10px
  }

  nav.global_nav div.login {
    margin-right: 10px;
    padding-right: 10px;
  }
  
  ul.all_topics div.info span.time {
    display: none;
  }

  footer.index p {
    letter-spacing: normal;
    font-size: 0.8em;
  }

  div.sign_up h1 {
    letter-spacing: normal;
    font-size: 1.6em;
  }

  nav.global_nav div a.drop_down {
    letter-spacing: normal;
  }

  nav.global_nav div.notification {
    display: none;

  }
}

@media screen and (max-width: 380px) {
  nav.global_nav {
    margin: 4px 20px;
  }

  nav.global_nav h1 {
    font-size: 1.3em;
  }

  nav.global_nav ul {
    margin: 0px 6px;
  }

  nav.global_nav div.login {
    margin-right: 5px;
    padding-right: 5px;
  }

  nav.global_nav ul li {
    margin-left: 5px;
  }

  nav.global_nav ul a {
    font-size: 0.8em;
  }

  ul.all_topics div.info {
    height: 25px;
    font-size: 0.8em;
  }

  ul.all_topics div.title {
    height: 25px;
  }

  ul.all_topics div.avatar img {
    height: 50px;
    width: 50px;
  }

  ul.all_topics div.title a {
    font-size: 0.9em;
  }

  div.topic_title h1 {
    font-size: 1.2em;
    height: 25px;
  }

  div.topic_title div.topic_info {
    font-size: 0.8em;
    height: 25px;
  }

  div.topic_title div.avatar img {
    width: 50px;
    height: 50px;
  }

  section.index {
    margin-top: 80px;
  }

  li.comment div.comment_info {
    font-size: 0.8em;
    height: 25px;
  }
  li.comment div.avatar img {
    width: 50px;
    height: 50px;
  }

  div.login_alert {
    font-size: 0.8em;
  }

  div.sign_up h1 {
    font-size: 1.3em;
  }

  div.sign_up form {

   font-size: 0.9em;
  }

}

}
@keyframes fadeIn {
  0% {opacity: 0;}
  25% {opacity: 0.25;}
  50% {opacity: 0.5;}
  75% {opacity: 0.75;}
  100% {opacity: 0.99;}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  25% {opacity: 0.2;}
  50% {opacity: 0.5;}
  75% {opacity: 0.75;}
  100% {opacity: 0.99;}
}

@-moz-keyframes fadeIn {
  0% {opacity: 0;}
  25% {opacity: 0.2;}
  50% {opacity: 0.5;}
  75% {opacity: 0.75;}
  100% {opacity: 0.99;}
}

@-0-keyframes fadeIn{
  0% {opacity: 0;}
  25% {opacity: 0.2;}
  50% {opacity: 0.5;}
  75% {opacity: 0.75;}
  100% {opacity: 0.99;}
}

