<div class="container all-contents">
<div class="entry">
  <h1>Simple Forum</h1>
  <h2>Welcome to Simple Forum</h2>
  <p>Simple Forum is a simple and lightweight forum web application, writen by Sinatra and Ember.js</p>
</div>
</div>
