<nav class="navbar navbar-fixed-top global_nav">
  <div class="container-fluid">
    <div class="navbar-brand navbar-left site_title" >
      SimpleForum
    </div>
    <ul class="nav navbar-nav">
      <li>{{#link-to "index"}}Home{{/link-to}}</li>
      <li><a href="#">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" data-toggle="modal" data-target="#signupForm">Signup</a></li>
      <li><a href="#" data-toggle="modal" data-target="#loginForm">Login</a></li>
      <li><a href="#" data-toggle="modal" data-target="#newPostForm">Test</a></li>
    </ul>
  </div>
</nav>
<section class="index">
  {{render "signup"}}
  {{render "login" }}
  {{render "posts.new"}}
  {{outlet}}
</section>
<footer class="container-fluid index">
  <p>SimpleForum. Powered by <a target="_blank" href="http://www.sinatrarb.com">Sinatra</a> and  <a target="_blank" href="http://emberjs.com">Ember.js</a>. Source Code: <a target="_blank" href="https://github.com/aidewoode/simple_forum">Github</a></p>
</footer>
