<nav class='global-nav'>
  <div class='global-nav__title'>
    Simple Forum
  </div>
  <div class='global-nav__menu'>
    <button class='btn btn__primary'>Login</button>
  </div>
</nav>
<div class='site-container'>
  {{outlet}}
</div>
