<div class="modal fade" id="delete-confirm" role="dialog" aria-labelledby="deleteConfirmLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p class="modal-title" id="deleteConfirmLabel">
        Please confirm your action
        </p>
      </div>
      <div class="modal-body">
        <p class="warning-text">Do you really want to delete it?</p>
        <button {{action deleteMode}} data-loading-text="Deleting" autocomplete="off" id="deleteButton" class="center-block btn btn-default delete-button">Delete</button>
      </div>
    </div>
  </div>
</div>
