<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>涅磐中文</title>
    <meta name="description" content="涅磐中文家庭论坛">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body class="page404">
    <div class="page404">
      <h1>404</h1>
      <div class="button">
        <a href="/">回到首页</a>
      </div>
    </div>
  </body>
</html>
