<div class="about_page entry">
  <h1>这里是CnNirvana</h1>
  <p>下面省略，以后添加................</p>
  <hr/>
  <p>友情连接: <span><a target="_blank" href="http://tieba.baidu.com/f?kw=nirvana&fr=ala0">Nirvana 吧</a></span> | <span><a target="_blank" href="http://nirvanaparty.com">Nirvana Party</a></span></p>
</div>

