<div class="header">
  <select id="post_tag" name="post[tag]" >
    <option value="闲聊">闲聊</option>
    <option value="音乐">音乐</option>
    <option value="电影">电影</option>
    <option value="资源">资源</option>
    <option value="足球">足球</option>
    <option value="反馈">反馈</option>
    <% if admin? %>
      <option value="置顶">置顶</option>
    <% end %>
  </select>
  <input id="post_title" name="post[title]" type="text" placeholder="在这里输入标题" value="<%= h(post.title) %>" />
</div>

<textarea id="post_body" name="post[body]" row="5"><%= post.body %></textarea>


