<% if flash[:error]%>
  <div class="flash flash_error">
    <%= flash[:error] %>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>
<% end %>
<div class="new_edit_post">
  <h1>发布你的新帖</h1>
  <form class="submit_form" action="/topics" method="post">
    <%= new_edit_form(@post) %>
    <div class="submit">
      <input class="submit_form" type="submit" value="发布" />
    </div>

  </form>
</div>
<%= new_edit_js %>
